<h2> hello, choisissez les fichiers </h2>
<form id="upload_form" enctype="multipart/form-data" method="post">
  <input type="file" name="bom" id="bom" onchange="uploadFile(bom)"><br>
  <input type="file" name="ressources" id="ressources" onchange="uploadFile(ressources)"><br>
  <input type="file" name="interoperation" id="interoperation" onchange="uploadFile(interoperation)"><br>
  <input type="file" name="excluded" id="excluded" onchange="uploadFile(excluded)"><br>
  <input type="file" name="product" id="product" onchange="uploadFile(product)"><br>
  <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
  <h3 id="status"></h3>
  <p id="loaded_n_total"></p>

</form>
<script type="text/javascript">



function _(el) {
  return document.getElementById(el);
}

function uploadFile(element_name) {
  console.warn(element_name.id)
  let file = _(element_name.id).files[0];
  let formdata = new FormData();
  formdata.append("file", file);
  formdata.append("category", element_name.id);
  let ajax = new XMLHttpRequest();
  ajax.upload.addEventListener("progress", progressHandler, false);
  ajax.addEventListener("load", completeHandler, false);
  ajax.addEventListener("error", errorHandler, false);
  ajax.addEventListener("abort", abortHandler, false);
  ajax.open("POST", "{{url_for('home.upload_bom')}}");
  ajax.send(formdata);
}

function progressHandler(event) {
 //_("loaded_n_total").innerHTML = "Uploaded " + event.loaded + " bytes of " + event.total;
  let percent = (event.loaded / event.total) * 100;
  _("progressBar").value = Math.round(percent);
  _("status").innerHTML = Math.round(percent) + "% telecharger .. veuillez patienter";
}

function completeHandler(event) {
  _("status").innerHTML = event.target.responseText;
  _("progressBar").value = 0; //wil clear progress bar after successful upload
}

function errorHandler(event) {
  _("status").innerHTML = "Upload Failed";
}

function abortHandler(event) {
  _("status").innerHTML = "Upload Aborted";
}

</script>
